@import './../../global.css';

:root{
    --size-img: 15vw;
}

img {
    border: 1px solid gray;
    border-radius: 100%;
    width: var(--size-img);
    height: var(--size-img);
    margin-right: 50px;
}

.container {
    display: flex;
    justify-content: center;
    font-family: var(--primary-font);

    .data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .personal {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            > * {
                margin: 0;
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;

        .data {
            .personal {
                text-align: center;
                margin-bottom: 15px;
            }
        }
    }

    img {
        width: 80%;
        height: auto;
        margin-inline: auto;
    }
}