@import './../../global.css';

:root{
    --size-img: 16vw;
}

img {
    border: 1px solid gray;
    border-radius: 100%;
    width: var(--size-img);
    height: var(--size-img);
}

.container {
    display: flex;
    justify-content: center;
    font-family: var(--primary-font);

    .data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-inline: 50px;

        .personal {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 10px;
            height: 100%;

            > * {
                margin: 0;
                
            }

            > p {
                font-size: 15px;
                margin-block: auto;
            }
        }
    }


    .data > :last-child{
        width: 50%;
    }
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;

        .data {
            margin-inline: 0;
            width: 100%;
            .personal {
                text-align: center;
                margin-block: 40px;

                > * {
                    margin-block:10px;
                }

                > p {
                    text-align: justify;
                    margin-inline: 5px;
                }
            }
        }

        .data> :last-child {
            width: 100%;
        }
    }

    img {
        width: 80%;
        height: auto;
        margin-inline: auto;
    }
}