@import url('./../../global.css');

.knowledges {
    display: grid;
    grid-template-columns: 30% 70%;

    .general {
        display: flex;
        flex-direction: column;
        border-right: 1px solid gray;
        justify-content: flex-start;
    }

    .skills {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        /*max-height: 300px;
        overflow-y: scroll;*/

        .icon {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-inline: 10px;
                max-height: 150px!important;
            }
    }

    .icon p {
        font-size: 17px;
        text-align: center;
    }

    .icon i {
        font-size: -webkit-xxx-large;
    }


}

@media screen and (max-width: 768px){
    .knowledges {
        display: flex;
        flex-direction: column;

        .general {
            flex-direction: row;
            border-right: 0;
            border-bottom: 1px solid gray;
            justify-content: center;
        }

        .skills {
            padding-top: 15px;
            grid-template-columns: 33% 33% 33%;
        }
    }
}