
:root {
 --primary-font: Brush Script MT (cursive);
 --secondary-color: #00FF00;
 --primary-color: white;
}

@custom-media --small-device (max-width: var(--smallscreen));

h1 {
    font-size: 50px;
}

h1.header {
    font-size: 55px;
    text-align: center;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

h1, h2, h3, h4, h5 {
    font-family: var(--primary-font);
    font-weight: bold;
}

@media (max-width: 768px){
    h1 {
        font-size: 28px;
    }

    h1.header {
        font-size: 35px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 16px;
    }
}